version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: my_postgres
    environment:
      POSTGRES_DB: adoptie
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: pass
    ports:
      - "5432:5432"
    volumes:
      - ./dbdata:/var/lib/postgresql/data
    networks:
      - app-network

networks:
  app-network:
